
<form  #frm="ngForm" (ngSubmit)="onSubmit(frm)">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="name">Name</label>
      <input ngModel name=personName  #personName="ngModel"
       type="text" class="form-control" id="personName" autocomplete="off" value="" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="email">Email</label>
      <input  ngModel name=personEmail  #personEmail="ngModel"  type="Email" class="form-control" id="personEmail" value="" autocomplete="off" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="city">City</label>
      <input  ngModel name=city  #city="ngModel" 
      type="text" class="form-control" id="city" autocomplete="off" required>
    </div>
    
    <div class="col-md-3 mb-3">
      <label for="visit">Type of Visit</label>
      <select  ngModel name=visit  class="custom-select" id="visit" required>
        <option selected disabled value="">Select</option>
        <option value="meeting">Meeting</option>
       <option value="delivery">Delivery</option>
        <option value="personal">Personal</option>

      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label for="contactPerson">Person to visit</label>
      <input ngModel name=contactPerson  #contactPerson="ngModel" 
      type="text" class="form-control"  autocomplete="off" id="contactPerson" required>
    </div>
  </div>
  <!-- <div class ="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">date</label>
           <input type="text" 
            class="form-control" 
            placeholder="Datepicker" 
            bsDatepicker 
            value="{{ myDate | date:'yyyy-MM-dd HH:mm' }}" 
            [(ngModel)]="myDate"
            formControlName="date" 
             date:'yyyy-MM-ddTHH:mm'"
          />
    </div>

  </div> -->
<div class="form-row">

<div class="col-md-3 mb-3">
  <label for="date">Date</label>
    <input type="datetime" id="date" 
    ngModel name=date   
    [ngModel]="inDateTime |  date:'yyyy-MM-dd'"
     [disabled]="true">
     <!-- <input type="datetime" id="date" 
    ngModel name=date   #date="ngModel" 
  [value]="inDateTime "
     [disabled]="true">  -->
</div>

<div class="col-md-3 mb-3">
  <label for="inTime">Inn time</label>
 <input type="time" id="intime"
   ngModel name=intime  #intime="ngModel" >
</div>

<div class="col-md-3 mb-3">
 <label for="outTime">Out-time</label>
    <input type="time" id="outtime" 
   ngModel name=outtime  #outtime="ngModel" >
</div>

</div>
  <button class="btn btn-primary" type="submit">Submit</button>
  
</form>