
<form  #frm="ngForm" (ngSubmit)="onSubmit(frm)">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="name">Name</label>
      <input ngModal name=personName  #personName="ngModal"
       type="text" class="form-control" id="personName" value="" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="email">Email</label>
      <input  ngModal name=personEmail  #personEmail="ngModal"  type="Email" class="form-control" id="personEmail" value="" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="city">City</label>
      <input  ngModal name=city  #city="ngModal" 
      type="text" class="form-control" id="city" required>
    </div>
    
    <div class="col-md-3 mb-3">
      <label for="visit">Type of Visit</label>
      <select  ngModal name=visit  class="custom-select" id="visit" required>
        <option selected disabled value="">Select</option>
        <option value="meeting">Meeting</option>
       <option value="delivery">Delivery</option>
        <option value="personal">Personal</option>

      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label for="contactPerson">Person to visit</label>
      <input ngModal name=contactPerson  #contactPerson="ngModal" 
      type="text" class="form-control" id="contactPerson" required>
    </div>
  </div>
  <!-- <div class ="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">date</label>
           <input type="text" 
            class="form-control" 
            placeholder="Datepicker" 
            bsDatepicker 
            value="{{ myDate | date:'yyyy-MM-dd HH:mm' }}" 
            [(ngModel)]="myDate"
            formControlName="date" 
          />
    </div>

  </div> -->
<div class="col-md-3 mb-3">
  <label for="date">Date</label>
    <input type="datetime-local" id="birthdaytime" name="birthdaytime"  [ngModel]="inDateTime |  date:'yyyy-MM-ddTHH:mm'" [disabled]="true">
  <label for="inTime">Inn time</label>
 <input type="time" id="birthdaytime1" name="birthdaytime1"
   [ngModel]="myDate | date:'HH:mm'" >
 <label for="outTime">Out-time</label>
    <input type="time" id="birthdaytime2" name="birthdaytime2"
   [ngModel]="myDate | date:'HH:mm'" >

</div>
  <button class="btn btn-primary" type="submit">Submit Task </button>
  
</form>